[submodule "amqpCppTrial/AMQP-CPP"]
	path = amqpCppTrial/AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP.git
[submodule "amqpCppTrial/openssl"]
	path = amqpCppTrial/openssl
	url = git://git.openssl.org/openssl.git
